TgCrypto-pyrofork==1.2.8
asyncio
ffmpeg-python
pytgcalls==3.0.0.dev24
ntgcalls==1.3.2
pyrofork
yt-dlp
youtube-search-python
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
requests
pillow
motor
future
pyyaml==5.3.1
telethon
speedtest-cli
lyricsgenius
