TgCrypto-pyrofork==1.2.8
asyncio
ffmpeg-python
py-tgcalls==2.2.11
pyrofork==2.3.69
yt-dlp
youtube-search-python
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
pyyaml==5.3.1
telethon
speedtest-cli
lyricsgenius
