# Required
SESSION_NAME=""
# You can also use STRING_SESSION or SESSION_STRING instead of SESSION_NAME.
BOT_TOKEN=""
API_ID=""
API_HASH=""

# Optional
SUDO_USERS=""
DURATION_LIMIT="90"
ASSISTANT_NAME=""
BOT_USERNAME=""
UPDATES_CHANNEL=""
GROUP_SUPPORT=""
