# Required
SESSION_NAME="BQJZ8ngANicQS7S9ylBYCBktmsHcAIHkrArK7aADKBppoR2uQLsfsNq1l24Lcc9lGOQDcax8wow3mrFpAgeoLVqktyjAr4NNDND0IgJ7VA_jJgip8kPT9zySB8iT44i5SgqnhdSX2-hwCUmd0E9SE3UgV5PBRIhI4wVffEJ8KZKLkch1XlfxP0PIWXvx9OtZcER-VxeBEGHqk_NSYi6wxfIBU3Idf6P1nApWheLfK54y2HXaZHoc1yRvX1i1atYOpODBmNTOlNWGaKx1sVdUOgUS-PPjgvndyXEDw3t0jYfkiBbY_aWDbFJwNfL4jCNYm0J5sTrYa4qwaJtYBYeKdSf5dkm4vAAAAAIH9VPUAA"
# You can also use STRING_SESSION or SESSION_STRING instead of SESSION_NAME.
BOT_TOKEN="8751738670:AAHsqpIIz7DJtVbAhWM0bfj1cgbQYOdm0nc"
API_ID="39449208"
API_HASH="c4f2ac7f8435827dfd03a345ef31c52b"

# Optional
SUDO_USERS=""
DURATION_LIMIT="90"
ASSISTANT_NAME=""
BOT_USERNAME=""
UPDATES_CHANNEL=""
GROUP_SUPPORT=""
